<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzz.medical.controller.backend_medical_manage.dao.SsMedicalWorkNewsMapper">
  <resultMap id="BaseResultMap" type="com.dzz.medical.controller.backend_medical_manage.domain.model.SsMedicalWorkNews">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="work_news_no" jdbcType="VARCHAR" property="workNewsNo" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="title_images" jdbcType="VARCHAR" property="titleImages" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="topping" jdbcType="INTEGER" property="topping" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updater" jdbcType="VARCHAR" property="updater" />
    <result column="text_data" jdbcType="LONGVARCHAR" property="textData" />
  </resultMap>

  <resultMap id="ListMedicalWorkNewsResultMap" type="com.dzz.medical.controller.backend_medical_manage.domain.bo.MedicalWorkNewsListBO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="work_news_no" jdbcType="VARCHAR" property="workNewsNo" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="topping" jdbcType="INTEGER" property="topping" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>


  <resultMap id="ListWorkNewsResultMap" type="com.dzz.medical.controller.frontend_medical.domain.bo.ListWorkNewsBO">
    <result column="work_news_no" jdbcType="VARCHAR" property="workNewsNo" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="title_images" jdbcType="VARCHAR" property="titleImages" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <resultMap id="DetailMedicalWorkNewsResultMap" type="com.dzz.medical.controller.backend_medical_manage.domain.bo.MedicalWorkNewsDetailBO">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="work_news_no" jdbcType="VARCHAR" property="workNewsNo" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    <result column="title_images" jdbcType="VARCHAR" property="titleImages" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="topping" jdbcType="INTEGER" property="topping" />
    <result column="text_data" jdbcType="LONGVARCHAR" property="textData" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <select id="listMedicalWorkNews" resultMap="ListMedicalWorkNewsResultMap">
    select id,work_news_no,title,sub_title,sort,topping,status,create_time from ss_medical_work_news where 1=1

    <if test="title!=null and title!='' ">
      and title=#{param.title}
    </if>

    <if test="topping!=null and topping!='' ">
      and topping=#{topping}
    </if>

    <if test="status!=null and status!='' ">
      and status=#{status}
    </if>

    <if test="createTime!=null and createTime!='' ">
      and createTime=#{createTime}
    </if>

    order by create_time desc


  </select>

  <select id="listWorkNews" resultMap="ListWorkNewsResultMap">

    select work_news_no,title,sub_title,title_images,update_time from ss_medical_work_news where status=1 order by sort desc,update_time desc
  </select>


  <update id="updateStatus">
    update ss_medical_work_news set status=#{status} where work_news_no=#{medicalWorkNewsNo}
  </update>


  <select id="detailMedicalWorkNews" resultMap="DetailMedicalWorkNewsResultMap">

    select id,work_news_no,title,sub_title,sort,topping,title_images,text_data,create_time from ss_medical_work_news

    where work_news_no=#{medicalWorkNewsNo};

  </select>

</mapper>