.col-sm-3 {
    width: 26%;
}

.ibox-content .col-sm-12 {
    margin-bottom: 10px;
}
.ellipsis{
    max-width: 12em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.ellipsis p{
    max-width: 12em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}