<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>法律法规</title>
  <link href="/css/for_service/legal.css" rel="stylesheet">
</head>
<body>
  <div class="header">
    <div class="logo">
      <div><img src="/img/legal-logo.png"/></div>
      <div class="header-title">法律法规大全</div>
    </div>
    <div class="subtitle">为您提供全面的法律法规，条例释义，您身边的法律助手，随时随地为您提供法律知识，欢迎使用。</div>
  </div>
  <div class="content">
    <div class="content-title">消息</div>
    <div class="msg-content">
      <div class="msg-title">知识产权认证管理办法</div>
      <div class="msg-img"><img src="/img/example.png"></div>
    </div>
    <div class="msg-content">
      <div class="msg-title-2">知识产权认证管理办法</div>
      <div class="img-content">
        <div class="img-box"><img src="/img/example.png"></div>
        <div class="img-box"><img src="/img/example.png"></div>
        <div class="img-box"><img src="/img/example.png"></div>
      </div>
    </div>
    <div class="msg-content">
      <div class="msg-title">知识产权认证管理办法</div>
      <div class="msg-img"><img src="/img/example.png"></div>
    </div>
    <div class="more-msg">
      <div class="all-msg">全部消息</div>
      <div class="all-msg-arrow"><img src="/img/left-arrow.png"/></div>
    </div>
  </div>
</body>
</html>