<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dzz.medical.controller.system.dao.BsAdminUserRoleMapper">
  <resultMap id="BaseResultMap" type="com.dzz.medical.controller.system.domain.model.BsAdminUserRole">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="role_id" jdbcType="VARCHAR" property="roleId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updator" jdbcType="VARCHAR" property="updator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator" jdbcType="VARCHAR" property="creator" />
  </resultMap>

  <select id="getByUserId" resultMap="BaseResultMap">
    select id,user_id,role_id,status,update_time,updator,create_time,creator
    from bs_admin_user_role
    where user_id=#{userId}
  </select>

  <update id="updateStatus" >
      UPDATE  bs_admin_user_role SET
        status  = #{status},
        update_time  = NOW(),
        updator  = #{userCode}
      WHERE user_id=#{userId}
  </update>
</mapper>