<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>通知公告</title>
  <link href="/css/medical_broadcast/notice.css" rel="stylesheet">
</head>
<body>
  <div class="content-box">
    <div class="notice-content-box">
       <div class="notice-image"><img src="/img/notice-img-1.png"/></div>
       <div class="notice-box">
         <div class="notice-title">这是我的标题啊。哈哈，哇卡卡哎呀哎呀哎呀</div>
         <div class="notice-title-img"><img src="/img/notice-title-img.png"></div>
       </div>
    </div>
    <div class="notice-content-box">
      <div class="notice-image"><img src="/img/notice-img-1.png"/></div>
      <div class="notice-box">
        <div class="notice-title">这是我的标题啊。哈哈，哇卡卡哎呀哎呀哎呀</div>
        <div class="notice-title-img"><img src="/img/notice-title-img.png"></div>
      </div>
    </div>
    <div class="notice-content-box">
      <div class="notice-image"><img src="/img/notice-img-1.png"/></div>
      <div class="notice-box">
        <div class="notice-title">这是我的标题啊。哈哈，哇卡卡哎呀哎呀哎呀</div>
        <div class="notice-title-img"><img src="/img/notice-title-img.png"></div>
      </div>
    </div>
    <div class="notice-content-box">
      <div class="notice-image"><img src="/img/notice-img-1.png"/></div>
      <div class="notice-box">
        <div class="notice-title">这是我的标题啊。哈哈，哇卡卡哎呀哎呀哎呀</div>
        <div class="notice-title-img"><img src="/img/notice-title-img.png"></div>
      </div>
    </div>
    <div class="notice-content-box">
      <div class="notice-image"><img src="/img/notice-img-1.png"/></div>
      <div class="notice-box">
        <div class="notice-title">这是我的标题啊。哈哈，哇卡卡哎呀哎呀哎呀</div>
        <div class="notice-title-img"><img src="/img/notice-title-img.png"></div>
      </div>
    </div>
  </div>
</body>
</html>