<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="_csrf" content="${(_csrf.token)!}"/>
  <meta name="_csrf_header" content="${(_csrf.headerName)!}"/>
  <title>法律法规详情</title>
  <link href="/css/for_service/legal_detail.css" rel="stylesheet">
</head>
<body>
  <div class="content">
    <input type="hidden" value="${(medicalLegalDetailBO.textData)!}" id="textData" name="textData" />
    <div class="title">
      <h4>${(medicalLegalDetailBO.title)!}</h4>
    </div>
    <div class="read-record">
      <div class="record-left"><label>时间：</label>${(medicalLegalDetailBO.createTime?date)!}</div>
      <div class="record-right"><label>被浏览次数：</label>1022</div>
    </div>
    <div id="legal_detail">
    </div>
    </div>
</body>
<script src="/plugins/jquery/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript">
  $().ready(function () {
    $("#legal_detail").html($("#textData").val());
  });
</script>
</html>