<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="_csrf" content="${_csrf.token}"/>
  <meta name="_csrf_header" content="${_csrf.headerName}"/>
  <title>法律法规详情</title>
  <link href="/css/for_service/legal_detail.css" rel="stylesheet">
</head>
<body>
  <div class="content" id="legal_detail">
    <input type="hidden" value="${(medicalLegalDetailBO.textData)!}" id="textData" name="textData" />
  </div>
</body>
<script src="/plugins/jquery/jquery.min.js?v=2.1.4"></script>
<script type="text/javascript">
  $().ready(function () {
    $("#legal_detail").append($("#textData").val());
  });
</script>
</html>