<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta content="telephone=no,email=no" name="format-detection">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="_csrf" content="${_csrf.token}"/>
  <meta name="_csrf_header" content="${_csrf.headerName}"/>
  <title>法律法规</title>
  <link href="/css/for_service/legal.css" rel="stylesheet">
</head>
<body> <input type="hidden" name="pageSize" value="10" id="pageSize" />
<body> <input type="hidden" name="pageNo" value="1" id="pageNo" />
<div class="content">
  <div id="content-box"></div>
</div>
</body>
<script src="/plugins/jquery/jquery.min.js?v=2.1.4"></script>
<!-- 自定义js -->
<script src="/js/common/ajax_common.js"></script>
<!-- Toast script -->
<script src="/plugins/toastr/toastr.min.js"></script>
<script src="/js/common/toast_common.js"></script>
<!--页面模板渲染-->
<script src="/plugins/jsrender/jsrender.min.js"></script>
<script src="/js/frontend_medical/for_service/legal_list.js"></script>
<!--保单列表渲染模板-->
<script type="text/x-jsrender" id="listLegalTemplate1">
    <div class="msg-content">
      <div class="msg-title">{{:title}}</div>
      <div class="msg-img"><img src="{{:oneTitleImage}}"></div>
    </div>
</script>

<script type="text/x-jsrender" id="listLegalTemplate2">
    <div class="msg-content">
      <div class="msg-title-2">{{:title}}</div>
      <div class="img-content">
       {{for listTitleImage}}
        <div class="img-box"><img src="{{:#data}}"></div>
       {{/for}}
      </div>
    </div>
</script>
</html>